/* .backgroundHome {
  background: rgb(59, 223, 118);
  background: linear-gradient(
    242deg,
    rgb(182, 47, 115) 12%,
    rgb(156, 123, 152) 89%
  );
}
.backgroundHome .darkOverlay {
  display: none;
} */
.missouriResearchList li {
  margin: 7px 0;
  list-style: decimal;
  line-height: 1.7em;
}

.grantAmount {
  font-weight: bold;
}

.grants td::before:nth-col(1) {
  content: "(";
}
.grants td::after {
  content: ")";
}
