<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- google fonts -->
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->

    <!-- css styles -->
    <link rel="stylesheet" href="../../styles/home/ResearchActivites.css" />
    <link rel="stylesheet" href="../../styles/utilities.css" />
    <!-- css styles -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!-- Bootstrap cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Bootstrap cdn -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Research Activites</title>
  </head>
  <body>
    <div class="boxContainer container">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit incidunt
      corrupti dolore deserunt. Tempora nemo dicta, tempore ipsam magni quaerat!
      <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand d-lg-none" href="#">SITE NAVIGATION</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  ><i class="fas fa-home fa-lg"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Research</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Members</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Publications</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Grants</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Activites</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">collaborators</a>
              </li>
              <li class="nav-item">
                <a href="/contactUs.html" class="nav-link">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tenetur
        ea cupiditate nihil deserunt. Nemo, placeat nihil ex aspernatur
        asperiores debitis harum cum libero repellendus dolore sit corporis?
        Incidunt natus fuga sapiente reprehenderit ducimus modi distinctio at
        totam blanditiis, officia illum mollitia accusantium ex ut rerum?
        Corporis, adipisci sed inventore enim illum dignissimos ullam earum fuga
        accusantium dolores, accusamus sunt! Id deserunt rerum officiis, ea
        minus rem impedit ipsum accusantium! Nisi dignissimos nam eligendi
        corporis suscipit animi ab esse nemo vero provident earum neque
        accusantium eaque ad sequi odio est accusamus, tenetur sint laborum sed
        pariatur assumenda illum. Laudantium magni assumenda sapiente soluta
        error commodi mollitia aspernatur. Expedita odit sit sed omnis nobis ut,
        tempore vel rerum repellat modi excepturi facilis ea molestiae debitis
        dolorem pariatur. Aperiam provident repellendus ex cumque. Est quasi
        molestias qui? Atque odio error eligendi voluptate blanditiis corrupti
        repudiandae neque, beatae quo autem laboriosam eos rem. Laboriosam,
        consequuntur saepe tempore esse est commodi eligendi corrupti ipsum
        repellat illum sed sequi quaerat expedita corporis aperiam quod vitae
        magnam delectus necessitatibus obcaecati debitis minima mollitia.
        Laboriosam soluta, eum reprehenderit impedit tenetur consectetur quos
        dolorum necessitatibus sed id laborum, aspernatur ea earum tempora
        reiciendis accusamus magni quod fugiat accusantium.
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
