ul li a {
  text-decoration: none;
}
/*.imgcontainer {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 0 5px #777;
}
.imgcontainer img {
  width: 100%;
  height: 100%;
}*/
