.personCard {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  box-shadow: 0 0 10px #7b7b7b;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    242deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(255, 241, 87) 0%,
    rgba(255, 255, 255, 1) 41%
  );
}
.personCard .circularImage {
  width: 150px;
  height: 150px;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 5px solid rgb(238, 238, 238);
}
.personCard img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.personCard img:hover {
  transform: scale(1.1);
}
.cardMainInfo {
  text-align: center;
  grid-column: 1/3;
  align-self: center;
}
.cardDetails {
  margin-top: 50px;
  grid-column: 3/7;
  /* text-align: center; */
}
.personCard .position {
  display: inline-block;
  box-shadow: 0 0 2px #7b7b7b;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  margin: 10px 0;
  padding: 2px 4px;
  transition: all 300ms ease-in-out;
}
.personCard .position:hover {
  box-shadow: 0 0 4px #7b7b7b;
  background-color: rgb(226, 226, 226);
}
.personCard .name {
  font-weight: 600;
}
.personCard .department {
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 620px) {
  .personCard {
    display: block;
  }
}
