body {
  font-family: "Inter" !important;
  box-sizing: border-box;
}
/* header background */
.backgroundHome {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  background: url("../Assets/Utilities/MST-BertelsmeyerHall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundHome .darkOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.homeTitle {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 35%;
  /* letter-spacing: 1px; */
  text-align: center;
  margin: 0;
  color: white;
  z-index: 1;
}
.pageName {
  font-weight: bold;
}
.uniLogo {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  width: 200px;
  height: 300px;
}
.active {
  color: #c00404 !important;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show > .nav-link {
  color: #c00404 !important;
}
.navbar-light .navbar-nav .nav-link {
  /* color: #3b302c !important; */
  font-size: 17px;
  transition: color 200ms ease-in-out;
  border-bottom: 5px solid transparent;
}
#mainNavbar ul li a {
  border-bottom: 5px solid transparent;
  transition: color 100ms ease-in-out border-bottom 100ms ease-in-out;
}
#mainNavbar ul li a:hover {
  border-bottom: 5px solid #c00404 !important;
  border-radius: 4px;
  color: #c00404 !important;
}
.boxContainer {
  display: block;
  /* position: relative; */
  background-color: white;
  /* margin-top: -50px; */
  z-index: 10;
  box-shadow: 0 0 10px #7d7d7d;
  border-radius: 5px;
  margin: 50px 40px;
}

/* Main */
.mainContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}
aside {
  grid-column: 1/2;
}
.infoContainer {
  margin: 20px 0px;
  grid-column: 2/7;
}
/* Aside sidenav */
#sideNav {
  box-shadow: 0 0 5px rgb(173, 173, 173);
  margin: 20px 0;
  border-radius: 10%;
  text-align: center;
}
#sideNav ul {
  margin: 0;
  padding: 0;
}
#sideNav ul li {
  list-style: none;
  padding: 10px 5px;
}
#sideNav ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
#sideNav ul li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#sideNav ul li:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#sideNav ul li:hover {
  background-color: #eee;
}
#sideNav ul li a {
  text-decoration: none;
  color: #3b302c;
}
#sideNav .sideNavActive {
  color: #c00404;
}
.boxContainer p {
  /* padding: 10px 30px; */
  font-size: 18px;
  /* letter-spacing: 0.5px; */
  /* text-align: center; */
}

/* footer */
footer {
  padding: 20px 0;
  color: white;
  background-color: rgb(44, 44, 44);
  /* color: black; */
}
footer .copyRight {
  margin-top: 10px;
  display: block;
  text-align: center;
  color: #7d7d7d;
}
footer a {
  text-decoration: none;
  color: white;
  transition: color 300ms ease-in-out;
}
footer a:hover {
  color: #c00404;
}
footer .footerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .contactUs {
  align-self: center;
}
footer #map {
  justify-self: flex-end;
}
footer #map iframe {
  width: 400px;
  height: 200px;
}
footer #map iframe {
  width: 300px;
  /* height: 400px; */
}
/* Video Container */
.mediaContainer {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  /* grid-auto-rows: 1fr; */
  justify-items: center;
}

/* .mediaContainer img {
  width: 100%;
} */
.mediaContainer p {
  margin-top: 5px;
  text-align: center;
}
.mediaItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* text-align: e;
  width: 100%; */
}
.mediaContainer img {
  width: 350px;
  height: 270px;
  /* display: block;
  margin-top: auto;
  margin-bottom: auto; */
}
.mediaContainer video {
  width: 350px;
  height: 270px;
  object-fit: cover;
  /* z-index: -100; */
}
/******************
/* navbar */

#navbar ul li a {
  text-decoration: none;
  /* text-align: center; */
}
#navbar {
  display: flex;
  justify-content: space-around;
}

nav .content {
  display: flex;
  align-items: center;
}
nav .content .links {
  margin-left: 80px;
  display: flex;
}
.content .logo a {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.content .links li {
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label {
  color: black;
  /* font-size: 18px; */
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  background: rgb(146, 146, 146);
}
.wrapper .search-icon,
.wrapper .menu-icon {
  color: black;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: rgb(252, 252, 252);
  top: 80px;
  z-index: 20;
  opacity: 0;
  padding: 0;
  visibility: hidden;
}
.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li {
  position: relative;
}
.content .links ul li:hover ul {
  top: 45px;
}

.missouriSTNavLink {
  text-align: center;
}
/* Responsive code start */
@media screen and (min-width: 1050px) {
  #subMenu {
    position: relative;
    top: -30px;
    left: 100%;
  }
  #hideSubMenu {
    height: 45px;
    line-height: 0 !important;
    /* display: none; */
  }
}
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    /* padding: 0 20px; */
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 8px 13px;
  }
}

@media screen and (max-width: 1050px) {
  .wrapper .menu-icon {
    display: block;
  }
  #navbar {
    justify-content: flex-start;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }

  nav .content .links {
    display: block;
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
    top: 0;
    z-index: 20;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    z-index: 20;
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    z-index: 20;
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    z-index: 20;
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #researchNavItem:checked ~ ul,
  .content .links #awardsNavItem:checked ~ ul,
  .content .links #activitiesNavItem:checked ~ ul,
  .content .links #publicationNavItem:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 27px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}

/* navbar */
/* media screen */

@media screen and (min-width: 992px) {
  /* dropdown */
  /* .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  } */
}
@media screen and (max-width: 992px) {
  .infoContainer {
    grid-column: 1/7;
  }
}
/* Bootstrap overrides for carrousel */
.carousel-control-next,
.carousel-control-prev,.carousel-indicators /*, .carousel-indicators */ {
  filter: invert(100%);
}
/* .carousel-inner {
  width: 50% !important;
  max-height: 200px !important;
} */
.carousel {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.carousel-item img {
  height: 350px;
}

/* table */
table {
  width: 100%;
  /* border: 1px solid rgb(192, 192, 192);
  border-radius: 20px; */
}
tr {
  border-bottom: 1px solid #ddd !important;
  padding-bottom: 5px !important;
  padding: 10px 0;
}
td:first-child::after {
  content: ".";
}
@media screen and (max-width: 768px) {
  footer .footerContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  footer #map {
    justify-self: center;
  }
  .carousel {
    width: 100%;
  }
  .carousel-item img {
    height: 200px;
  }
  .mediaContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .mediaContainer video {
    width: 300px;
    height: 250px;
    object-fit: cover;
  }
  .mediaContainer img {
    width: 300px;
    height: 250px;
  }
  .mediaContainer img {
    display: block;
    margin: auto auto;
  }
  /* .uniLogo {
    width: 100px;
    height: 150px;
  } */
}
