body {
  font-family: "Inter" !important;
  box-sizing: border-box;
}
/* header background */
.backgroundHome {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  background: url("../Assets/Utilities/MST-BertelsmeyerHall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundHome .darkOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.homeTitle {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 35%;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  color: white;
  z-index: 1;
}
.pageName {
  font-weight: bold;
}
.uniLogo {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  width: 200px;
  height: 300px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #c00404 !important;
}
.navbar-light .navbar-nav .nav-link {
  /* color: #3b302c !important; */
  font-size: 17px;
  transition: color 200ms ease-in-out;
  border-bottom: 5px solid transparent;
}
#mainNavbar ul li a:hover {
  border-bottom: 5px solid #c00404 !important;
  border-radius: 4px;
  color: #c00404 !important;
}
.boxContainer {
  display: block;
  /* position: relative; */
  background-color: white;
  /* margin-top: -50px; */
  z-index: 10;
  box-shadow: 0 0 10px #7d7d7d;
  border-radius: 5px;
  margin: 50px 40px;
}

/* Main */
.mainContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}
aside {
  grid-column: 1/2;
}
.infoContainer {
  grid-column: 2/7;
}
/* Aside sidenav */
#sideNav {
  box-shadow: 0 0 5px rgb(173, 173, 173);
  margin: 20px 0;
  border-radius: 10%;
  text-align: center;
}
#sideNav ul {
  margin: 0;
  padding: 0;
}
#sideNav ul li {
  list-style: none;
  padding: 10px 5px;
}
#sideNav ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
#sideNav ul li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#sideNav ul li:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#sideNav ul li:hover {
  background-color: #eee;
}
#sideNav ul li a {
  text-decoration: none;
  color: #3b302c;
}
#sideNav .sideNavActive {
  color: #c00404;
}
.boxContainer p {
  /* padding: 10px 30px; */
  font-size: 18px;
  /* letter-spacing: 0.5px; */
  /* text-align: center; */
}

/* footer */
footer {
  padding: 20px 0;
  color: white;
  background-color: rgb(44, 44, 44);
  /* color: black; */
}
footer .copyRight {
  margin-top: 10px;
  display: block;
  text-align: center;
  color: #7d7d7d;
}
footer a {
  text-decoration: none;
  color: white;
  transition: color 300ms ease-in-out;
}
footer a:hover {
  color: #c00404;
}
footer .footerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .contactUs {
  align-self: center;
}
footer #map {
  justify-self: flex-end;
}
footer #map iframe {
  width: 400px;
  height: 200px;
}
footer #map iframe {
  width: 300px;
  /* height: 400px; */
}
/* Video Container */
.mediaContainer {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.mediaContainer video,
img {
  width: 350px;
  height: 300px;
}
/* .mediaContainer img {
  width: 100%;
} */
.mediaContainer p {
  margin-top: 5px;
  text-align: center;
}
.mediaContainer img,
video {
  display: block;
  margin: auto auto;
}
/* media screen */

@media screen and (max-width: 992px) {
  .infoContainer {
    grid-column: 1/7;
  }
}
/* Bootstrap overrides for carrousel */
.carousel-control-next,
.carousel-control-prev,.carousel-indicators /*, .carousel-indicators */ {
  filter: invert(100%);
}
/* .carousel-inner {
  width: 50% !important;
  max-height: 200px !important;
} */
.carousel {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}
.carousel-item img {
  height: 300px;
}

/* table */
table {
  width: 100%;
  /* border: 1px solid rgb(192, 192, 192);
  border-radius: 20px; */
}
tr {
  border-bottom: 1px solid #ddd !important;
  padding-bottom: 5px !important;
  padding: 10px 0;
}
td:first-child::after {
  content: ".";
}
@media screen and (max-width: 768px) {
  footer .footerContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  footer #map {
    justify-self: center;
  }
  .carousel {
    width: 100%;
  }
  .carousel-item img {
    height: 200px;
  }
  .mediaContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .mediaContainer video,
  img {
    width: 300px;
    height: 300px;
  }
  .mediaContainer img {
    display: block;
    margin: auto auto;
  }
  /* .uniLogo {
    width: 100px;
    height: 150px;
  } */
}
